   *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
    
    
   }

 section{
  
   /* border: 2px solid; */
   height: 60vh;
   width: 100%;
    background-color:#454647
 }
 h1{
   font-size: 40px;
   /* border: 2px solid; */
   padding-left: 200px;
  margin-top: 10px;
  color: white;
 }
 aside
 {
   padding-left: 200px;
   font-size: 20px;
   /* border: 2px solid; */
   padding-left: 200px;
 margin-top: 50px;
 word-spacing: 5px;

  color: white;
 }
  input{
   /* border: 2px solid; */
   border-radius: 5px;
   height: 40px;
   width: 700px;
   margin-left:200px ;
   margin-top: 30px;
}
i{
   /* border: 2px solid; */
  padding-right:13px;
  margin-right: 10%;
  margin-top: 2%;
}
div{
   /* border: 2px solid; */
   background-color:#d9643a;
}
h2{
   /* border: 2px solid; */
}
p{
   /* border: 2px solid; */
  
   margin-top: -25px;

}

 article{
   background-color: #242525;
   height: 40vh;
   width: 100vw;
 }
span img{
   /* border: 2px solid; */
   height:150px;
   width: 200px;
   margin-top: -20px;
}


span p {
   /* border: 2px solid; */
   margin-left: 10px;
   margin-top: -50px;
   color: white;
}


 #demo{
   /* border: 2px solid white; */
   width: 60%;
   margin-left: 300px;
margin-top: -100px;
color: white;
font-weight:10px ;
 }
 #demo2{
   /* border: 2px solid white; */
   width: 60%;
   margin-left: 600px;
margin-top: -165px;
color: white;
font-weight:10p
 }
 #demo3{
   /* border: 2px solid white; */
   width: 60%;
   margin-left: 900px;
margin-top: -165px;
color: white;
font-weight:10p
 }

 #nav{
   /* border: 2px solid red; */
   margin-top: -370px;
   background-color:#242525;
 }
 div img{
   
   /* border: 2px solid white; */
  height: 20%;
  width: 20%;

 }
  section div p { 
   /* border: 2px solid white; */
   margin-top: -50px;
 margin-left: 750px;

   


font-size: larger;
word-spacing: normal;
  }
  button{   
    /* border: 2px solid white; */
 background-color: #454647;
 font-size: 30px;

  }
  div img + i{
    /* border: 2px solid white; */
    color: white;
    margin-left: 20px;
    margin-top:- 20px;
  }
  div img + i + svg{
    /* border: 2px solid white; */
    height: 40px;
    width: 40px;
   background-color:#242525;
   margin-right: 20%;
   fill: white;
  }
  article p i + i {
    /* border: 2px solid white; */
    position: absolute;
    right: 40px;
   
    
  }
  
  

  


 
 
 

